<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory record from being stored:</h2>

    <ul>
      <% @inventory.errors.full_messages.each do |message| %>
      <li> <%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :description %><br>
    <%= f.text_field :description %><br>

    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %><br>

    <%= f.submit %>

  <% end %>